.cm-switch {
  content: url('custom_switch_icon.svg');
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  width: 2.5rem;
  height: auto;
}

.cm-crown {
  content: url('custom_crown_icon.svg');
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  width: 2rem;
  height: auto;
}


@font-face {
  font-family: "feather";
  src: url("feather.eot?t=1525787366991");
  /* IE9*/
  src: url("feather.eot?t=1525787366991#iefix") format("embedded-opentype"), url("feather.woff?t=1525787366991") format("woff"), url("feather.ttf?t=1525787366991") format("truetype"), url("feather.svg?t=1525787366991#feather") format("svg");
  /* iOS 4.1- */
}

[class^="fe-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fe-username:before {
  content: "\e8e9";
}

.fe-password:before {
  content: "\e887";
}

.fe-email:before {
  content: "\e88a";
}

.fe-corner-down-right:before {
  content: "\e856";
}

.fe-share:before {
  content: "\e8c0";
}

.fe-wins:before {
  content: "\e8d6";
}

.fe-loses:before {
  content: "\e8d7";
}

.fe-best:before {
  content: "\e82e";
}

.fe-log-out:before {
  content: "\e888";
}

.fe-change:before {
  content: "\e8b6";
}

.fe-refresh:before {
  content: "\e8ba";
}

.fe-elo:before {
  content: "\e8f8"; }