@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("fonts/fonts.scss");

:root {
  --primary-color: #896A57;
  --secondary-color: #F2E8CF; /* ? Background & Text Color */
  --danger-color: #BC4749;
  --gold-color: #D1AE54;
  --silver-color: #BEBEBE;
  --success-color: #6A994E;
  --game-color: #386641;
  --dark-color: #1E1E1E;
  --light-color: #F4F4F4;
  --white-color: #FFFFFF;
  --black-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100%;
  background-color: var(--secondary-color);
}
