@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("../fonts/fonts.scss");

:root body {
  --primary-color: #896A57;
  --secondary-color: #F2E8CF;
  /* ? Background & Text Color */
  --danger-color: #BC4749;
  --gold-color: #D1AE54;
  --silver-color: #BEBEBE;
  --success-color: #6A994E;
  --game-color: #386641;
  --link-color: #5767C2;
  --dark-color: #1E1E1E;
  --light-color: #F4F4F4;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #808080;
  --dark-danger-color: #701f21;
  --light-danger-color: #db4f51;
  --box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
  --box-shadow-up: 0 -4px 10px rgb(0 0 0 / 20%);
}
:root body[theme="Cartoon"] {
  --primary-color: #7676f2;
  --secondary-color: #f7f0ce;
  --danger-color: #D05353;
  --gold-color: #D1AE54;
  --silver-color: #BEBEBE;
  --success-color: rgb(121, 178, 61);
  --game-color: #80ac4d;
  --link-color: #c85cdd;
  --dark-color: #4A4A4A;
  --light-color: #F8E71C;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #9B9B9B;
  --dark-secondary-color: rgb(225, 213, 141);
  --dark-danger-color: #a10316;
  --light-danger-color: rgb(241, 57, 79);
}
:root body[theme="Autumn"] {
  --primary-color: #c75102;
  --secondary-color: rgb(254, 237, 169);
  --danger-color: #990066;
  --gold-color: #FF9900;
  --silver-color: #BEBEBE;
  --success-color: #75a90e;
  --game-color: #99CC33;
  --link-color: #006699;
  --dark-color: #4A4A4A;
  --light-color: #CCEE66;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #9B9B9B;
  --dark-secondary-color: #ffbb00;
  --dark-danger-color: #790151;
  --light-danger-color: #c60084;
}

:root body[theme="Barbie"] {
  --primary-color: #ff7ebf;
  --secondary-color: #fbdee2;
  --danger-color: #e3489b;
  --gold-color: #c5b140;
  --silver-color: #C0C0C0;
  --success-color: #fc7f92;
  --game-color: #FF69B4;
  --link-color: #fa4ba8;
  --dark-color: #8B008B;
  --light-color: #FFB6C1;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #D3D3D3;
  --dark-danger-color: #C71585;
  --light-danger-color: #FF69B4;
  --box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
  --box-shadow-up: 0 -4px 10px rgb(0 0 0 / 20%);
}

:root body[theme="Sky"] {
  --primary-color: #1E90FF;
  --secondary-color: #c0dfea;
  --danger-color: #FF4500;
  --gold-color: #e6d056;
  --silver-color: #C0C0C0;
  --success-color: #32CD32;
  --game-color: #4682B4;
  --link-color: #1E90FF;
  --dark-color: #00008B;
  --light-color: #E0FFFF;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #B0C4DE;
  --dark-danger-color: #8B0000;
  --light-danger-color: #FF6347;
  --box-shadow: 0 4px 4px rgb(30 144 255 / 20%);
  --box-shadow-up: 0 -4px 10px rgb(0 0 0 / 20%);
}

:root body[theme="Purple"] {
  --primary-color: #800080;
  --secondary-color: #D8BFD8;
  --danger-color: #8B0000;
  --gold-color: rgb(155, 157, 16);
  --silver-color: #848181;
  --success-color: #9370DB;
  --game-color: #6A0DAD;
  --link-color: #9400D3;
  --dark-color: #4B0082;
  --light-color: #E6E6FA;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #D3D3D3;
  --dark-danger-color: #4B0082;
  --light-danger-color: #BA55D3;
  --box-shadow: 0 4px 4px rgb(128 0 128 / 20%);
  --box-shadow-up: 0 -4px 10px rgb(0 0 0 / 20%);
}

:root body[theme="Aloe"] {
  --primary-color: rgb(50, 177, 105);
  --secondary-color: #cdfccd;
  --danger-color: #FF6347;
  --gold-color: #f2d94b;
  --silver-color: #C0C0C0;
  --success-color: #3CB371;
  --game-color: #2E8B57;
  --link-color: #20B2AA;
  --dark-color: #006400;
  --light-color: #F0FFF0;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #A9A9A9;
  --dark-danger-color: #8B0000;
  --light-danger-color: #FF7F50;
  --box-shadow: 0 4px 4px rgb(46 139 87 / 20%);
  --box-shadow-up: 0 -4px 10px rgb(0 0 0 / 20%);
}

:root body[theme="Rusty"] {
  --primary-color: #FFA500;
  --secondary-color: #FFDAB9;
  --danger-color: #FF4500;
  --gold-color: #caac04;
  --silver-color: #C0C0C0;
  --success-color: #FF8C00;
  --game-color: #FF7F50;
  --link-color: #FF6347;
  --dark-color: #FF4500;
  --light-color: #FFE4B5;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #D3D3D3;
  --dark-danger-color: #8B0000;
  --light-danger-color: #FFA07A;
  --box-shadow: 0 4px 4px rgb(255 165 0 / 20%);
  --box-shadow-up: 0 -4px 10px rgb(0 0 0 / 20%);
}

:root body[theme="Dark"] {
  --primary-color: #ff9655c0;
  --secondary-color: #0c0c0c;
  --danger-color: #e65658c2;
  --gold-color: #d1ae5488;
  --silver-color: #BEBEBE;
  --success-color: #6A994E;
  --game-color: #386641;
  --link-color: #5767C2;
  --dark-color: #1E1E1E;
  --light-color: #F4F4F4;
  --white-color: #000000;
  --black-color: #ffffff;
  --grey-color: #808080;
  --dark-danger-color: #701f21;
  --light-danger-color: #db4f51;
  --box-shadow: 0 4px 4px rgb(30 30 30 / 20%);
  --box-shadow-up: 0 -4px 10px rgb(0 0 0 / 20%);
}

:root body[theme="Light"] {
  --primary-color: #896A57;
  --secondary-color: #ffffff;
  --danger-color: #BC4749;
  --gold-color: #D1AE54;
  --silver-color: #BEBEBE;
  --success-color: #3e910e;
  --game-color: #1c8631;
  --link-color: #5767C2;
  --dark-color: #1E1E1E;
  --light-color: #F4F4F4;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #808080;
  --dark-danger-color: #701f21;
  --light-danger-color: #db4f51;
  --box-shadow: 0 4px 4px rgb(240 240 240 / 20%);
  --box-shadow-up: 0 -4px 10px rgb(0 0 0 / 20%);
}

:root body[theme="ColorBlind"] {
  --primary-color: rgb(62, 62, 255); 
  --secondary-color: #FFFF00; 
  --danger-color: #8a0a8a; 
  --gold-color: #ae7400; 
  --silver-color: #C0C0C0; 
  --success-color: #fea013; 
  --game-color: #FFA500; 
  --link-color: rgb(68, 68, 201); /* Blue */
  --dark-color: #000000; /* Black */
  --light-color: #FFFFFF; /* White */
  --white-color: #FFFFFF; /* White */
  --black-color: #000000; /* Black */
  --grey-color: #808080; /* Grey */
  --dark-danger-color: #8B008B; /* Dark Magenta */
  --light-danger-color: #FFA500; /* Orange */
  --box-shadow: 0 4px 4px rgb(0 0 255 / 20%); /* Blue */
  --box-shadow-up: 0 -4px 10px rgb(0 0 0 / 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--secondary-color);
}

header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  align-items: center;
  padding: 1vh 2vw;
  border-radius: 0 0 15px 15px;
  color: var(--secondary-color);
  width: 100%;
  background-color: var(--dark-secondary-color);
}

footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 5vh;
  left: 10dvw;
  gap: 0.5em;
  width: 80vw;
}